:root{
    --red: #b02a37;
}
body {
  position: relative;
}

#content {
    position: relative;
}

.red-bg {
    background-color: var(--red);
}

section{
    padding-top: 50px;
    margin-top: -50px;
}

#header {
    background-color: var(--red);
}

.rumusan-content {
    background-color: var(--red);
}


#definisi-ahli {
    background-image: url("asset/bg-definisi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 920px) {
    #definisi-ahli {
        background-position-x: -180px;
    }
    
}

#definisi-ahli hr {
    border: 1px solid red;
    opacity: 1;
}

#definisi-nama {
    color: var(--red);
}

#text-kelompok {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
}

#contoh .card {
    background-color: var(--red);
}

#contoh .card img {
    height: 15em;
    object-fit: cover;
}

#bibliography li {
    margin-bottom: 1.5em;
}