:root{
    --red: #b02a37;
}
body {
  position: relative;
}

#content {
    position: relative;
}

#header {
    background-color: var(--red);
}

.rumusan-content {
    background-color: var(--red);
}

#text-kelompok {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2em;
}